body {
      font: 400 15px Lato, sans-serif;
      line-height: 1.8;
      color: #818181;
  }

.container-fluid {
    margin-top:0;
    margin-bottom:0;
    padding: 80px 50px;
}
.container-page{
    margin-top:0;
    margin-bottom: 0;
}
.container-padding{
    margin-top:0;
    margin-bottom:0;
    padding: 70px 50px;
}
  .textColorPrimary{
      color: #f4511e;
  }

  h2 {
      font-size: 24px;
      text-transform: uppercase;
      color: #303030;
      font-weight: 600;
  }
  h4 {
      font-size: 19px;
      line-height: 1.375em;
      color: #303030;
      font-weight: 400;
  }
  .page-jumbo{
      margin-top:8px;
      margin-bottom:0;
  }
  .page-jumbo h2{
      margin-left: 80px;
  }
  .jumbotron {
      background-color: #ffffff;
      color: #0e0a08;
      margin-top:0;
      padding: 100px 25px;
      font-family: Montserrat, sans-serif;
  }

  .container .row .user-info{
      margin-top:50px;
  }
  .bg-grey {
      background-color: #f8f8f8;
  }
  .bg-primary{
      background: #f4511e;
      color: #fff;
  }
  .bg-primary h2{
      color: #f5f5f5;
  }
  .logo-small {
      color: #f4511e;
      font-size: 50px;
  }
  .logo {
      color: #f4511e;
      font-size: 200px;
  }
  #logo-brand{
      width:200px;
      margin-top:-10px;
  }
  .user-value{
      color:#303030;
      font-size: 20px;
  }
  .thumbnail {
      padding: 0 0 15px 0;
      border: none;
      border-radius: 0;
  }
  .thumbnail img {
      width: 100%;
      height: 100%;
      margin-bottom: 10px;
  }

  .navbar {
      margin-bottom: 0;
      background-color: transparent;
      z-index: 9999;
      border: 0;
      font-size: 12px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 4px;
      border-radius: 0;
      position:absolute;
      width: 100%;
      font-family: Montserrat, sans-serif;
  }
  .navbar-page {
      margin-bottom: 0;
      background-color: #fff;
      border: 0;
      font-size: 12px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 4px;
      border-radius: 0;
      width: 100%;
      font-family: Montserrat, sans-serif;
  }
  .navbar-page li a, .navbar-page .navbar-brand {
      color: #f4511e !important;
  }
  .navbar li a, .navbar .navbar-brand {
      color: #fff !important;
  }
  .page.navbar-nav li a:hover, .page.navbar-nav li.active a {
      color: #fff !important;
      background-color: #f4511e !important;
  }
  #page-nav-right{
      margin-top: 30px;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
    color: #f4511e !important;
    background-color: #fff !important;
  }

  .navbar-default .navbar-toggle {
      border-color: transparent;
      color: #fff !important;
  }
  footer .glyphicon {
      font-size: 20px;
      margin-bottom: 20px;
      color: #f4511e;
  }
  .slideanim {visibility:hidden;}
  .slide {
      animation-name: slide;
      -webkit-animation-name: slide;
      animation-duration: 1s;
      -webkit-animation-duration: 1s;
      visibility: visible;
  }
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
    .btn-lg {
        width: 100%;
        margin-bottom: 35px;
    }
  }
  @media screen and (max-width: 480px) {
    .logo {
        font-size: 150px;
    }
  }

  #services{
      padding-top:40px;
      padding-bottom: 40px;
  }
  #services h2{
      margin-bottom: 30px;
  }

  /* Carousel slide */
  /*Testimonial carousel*/
.carousel-inner.testimonial{
    margin-top:24px;
}

.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #f4511e;
}
.carousel-indicators li {
    border-color: #f4511e;
}
.carousel-indicators li.active {
    background-color: #f4511e;
}

.item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin-top: 30px;
    margin-bottom: 70px;
}
.item img{
    margin: auto;
}
.item span {
    font-style: normal;
}

/*Header full page slider*/

  .carousel-fade .carousel-inner .item {
    opacity: 0;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
  }
  .carousel-fade .carousel-inner .active {
    opacity: 1;
  }
  .carousel-fade .carousel-inner .active.left,
  .carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
  }
  .carousel-fade .carousel-inner .next.left,
  .carousel-fade .carousel-inner .prev.right {
    opacity: 1;
  }
  .carousel-fade .carousel-control {
    z-index: 2;
  }
  .fade-carousel {
      position: relative;
      height: 100vh;
  }
  .fade-carousel .carousel-inner .item {
      height: 100vh;
  }
  .fade-carousel .carousel-indicators > li {
      margin: 0 2px;
      background-color: #f39c12;
      border-color: #f39c12;
      opacity: .7;
  }
  .fade-carousel .carousel-indicators > li.active {
    width: 10px;
    height: 10px;
    opacity: 1;
  }

  /********************************/
  /*          Hero Headers        */
  /********************************/
  .hero {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 3;
      color: #fff;
      text-align: center;
      text-transform: uppercase;
      text-shadow: 1px 1px 0 rgba(0,0,0,.75);
        -webkit-transform: translate3d(-50%,-50%,0);
           -moz-transform: translate3d(-50%,-50%,0);
            -ms-transform: translate3d(-50%,-50%,0);
             -o-transform: translate3d(-50%,-50%,0);
                transform: translate3d(-50%,-50%,0);
  }
  .hero h1 {
      font-size: 6em;
      font-weight: bold;
      margin: 0;
      padding: 0;
  }

  .fade-carousel .carousel-inner{
      opacity: 0;
      -webkit-transition: 4s all ease-in-out 2s;
         -moz-transition: 4s all ease-in-out 2s;
          -ms-transition: 4s all ease-in-out 2s;
           -o-transition: 4s all ease-in-out 2s;
              transition: 4s all ease-in-out zs;
  }
  .fade-carousel .carousel-inner{
      opacity: 1;
      -webkit-transition: 4s all ease-in-out 2s;
         -moz-transition: 4s all ease-in-out 2s;
          -ms-transition: 4s all ease-in-out 2s;
           -o-transition: 4s all ease-in-out 2s;
              transition: 4s all ease-in-out zs;
  }

  /********************************/
  /*            Overlay           */
  /********************************/
  .overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;
      background-color: #000000;
      opacity: .08;
  }

  /********************************/
  /*          Custom Buttons      */
  /********************************/
  .btn.btn-lg {padding: 10px 40px;}
  .btn.btn-hero,
  .btn.btn-hero:hover,
  .btn.btn-hero:focus {
      color: #f5f5f5;
      background-color: #1abc9c;
      border-color: #1abc9c;
      outline: none;
      margin: 20px auto;
  }

  /********************************/
  /*       Slides backgrounds     */
  /********************************/
  .fade-carousel .slides .slide-1,
  .fade-carousel .slides .slide-2,
  .fade-carousel .slides .slide-3 {
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .fade-carousel .slides .slide-1 {
    background-image: url(../images/slide_image_one.jpg);
  }
  .fade-carousel .slides .slide-2 {
    background-image: url(../images/slide_image_two.jpg);
  }
  .fade-carousel .slides .slide-3 {
    background-image: url(../images/slide_image_three.jpg);
  }

  /********************************/
  /*          Media Queries       */
  /********************************/
  @media screen and (min-width: 980px){
      .hero { width: 980px; }
  }
  @media screen and (max-width: 640px){
      .hero h1 { font-size: 4em; }
  }

/* footer section*/
.font-head{
    color: #303030;
    font-size: 14px;
    font-weight: bold;
}

  /* Overriding bootstrap class*/

  .btn-primary{
      background-color: #f4511e;
      border-color: #f4511e;
  }
  .btn-primary:hover{
      background-color: #fff;
      border-color: #f4511e;
      color: #f4511e;
  }

  .resources{
      margin-top: 8px;
      margin-bottom: 8px;
  }
  .progress{
      margin-top: 8px;
  }
  .board.thumbnail{
      margin-top:40px;
  }
  .secondary-navbar{
      list-style-type: none;
      margin:0;
      padding:0;
  }
  .secondary-navbar li{
      float: left;
  }
  .secondary-navbar li a{
      display: block;
      color: #f4511e;
      text-align: center;
      text-decoration: none;
      padding: 14px 16px;
      font-size: 18px;
      margin:0;
  }
  .secondary-navbar li a:hover, .secondary-navbar li a.active{
      background: #f4511e;
      color: #fff;
  }
  .secondary-navbar a img{
      margin-left:8px;
  }
  .margin20{
      margin-bottom:20px;
      margin-top:20px;
  }
  #profile_picture{
      width:100%;
  }
  .bk_up_btn{
      margin-bottom: 4px;
  }
  .teammember{
      margin-top: 40px;
      border-left:1px solid #444;
  }
  .memberImage{
      margin:auto;
  }
  .teammember h3{
      margin-right: 60px;
      color:#f4511e;
  }

.image{
	background: url(../images/study.jpg);
	background-size: 100%;
    height: 100%;
    margin-top:0;
}
.textWhite18{
    color: #fff;
    font-size: 18px;
}

.libraryTitle{
    width: 100%;
    text-align: center;
    padding: 120px 50px;
    background: #fdf8f7;
}
.library{
    width:100%;
    margin-top: 18px;
    margin-bottom: 18px;
}
.library .desc p{
    font-size:18px;
    text-align: center;
}

.required {
    font-family: serif;
    font-size: 1.1em;
    color: red;
}

label
{
    color: #333;
}
